<!--This template is a sample layout for initial build-out and testing-->


<html>
  <head>
    <title>FanWatch | Meet Up With Fellow Fans For Every Game</title>
  </head>
  <body>
    <h1>FanWatch</h1>
    <p>
      <h3> 
      Traveling for work and want to watch UVa basketball with fellow Wahoos? <br>
      Trying to get all of the Aresenal fans to settle on one spot to watch Premier League matches? <br>
      Do you enjoy being that one annoying Cowboys guy at the bar? <br>
      <br>
      FanWatch is the easiest way to find a place to watch games with fellow fans. 
      Search for viewing parties by your favorite sports and teams. Match up against opposing team fans and prove which fan base is stronger.
      Register below to find your first event, or login if you are returning. Enjoy and welcome to FanWatch!
      <br>
      <br>
      FanWatch requires a Google account (more options coming soon!)
      </h3>
    </p>
    <p><a href='/authorize/google'>Get Started</a></p>
  </body>
</html>