<!--This template is a sample layout for initial build-out and testing-->


<html>
  <head>
    <title>FanWatch | Meet Up With Fellow Fans For Every Game</title>
  </head>
  <body>
    <h2>Hi, {{current_user.name }}!</h2>
  </body>
  
<!--  
  <body>
    {% if current_user.is_authenticated() %}
        <h2>Hi, {{ current_user.name }}!</h2>
        <p><h4>This section will show a list of events the user already has...</h4></p>
        <p><a href='/sports'>Find an Event</a></p>
        <p><a href='/new_event'>Create an Event</a></p>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <h2>Please login into Fanwatch to get started</h2>
        <p><a href="{{ url_for('index') }}">Login with Google</a></p>
    {% endif %}
  </body>
  
-->